body {
  font-family: sans-serif;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

ul,
li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

.answers {
  padding: 5px 10px;
}

.score-board {
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  top: 100px;
}

.score-board span {
  color: blue;
}

.score-board p {
  margin: 10px 0;
  font-weight: 700;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scores {
  display: flex;
  flex-direction: row;
}

.scores > h4 {
  margin: 10px 20px;
}

.leaderboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}

#leaderboard-title {
  text-align: center;
}

.success {
  font-size: 8px;
  color: green;
}
.hidden {
  display: none;
}

.game-over-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
  /* background-color: blue; */
  box-sizing: content-box;
}

.game-over-left-container {
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: content-box;
  padding: 10px;

  /* background-color: blue; */
}

.login > label {
  padding: 10px 0;
}

.play-again-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play-again-container button {
  padding: 10% 15%;
  background-color: red;
  box-sizing: border-box;
  color: white;
  font-weight: 700;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
}

.title {
  color: white;
}

.prev-next-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pagination > h5 {
  color: lightgray;
  margin: 1px;
}
