body {
  font-family: sans-serif;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

ul,
li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

.answers {
  padding: 5px 10px;
}

.score-board {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 0;
}

.score-board p {
  margin: 0;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scores {
  display: flex;
  flex-direction: row;
}

.scores > h4 {
  margin: 10px 20px;
}

.leaderboard {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.success {
  font-size: 8px;
  color: green;
}
.hidden {
  display: none;
}

.game-over-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login > label {
  padding: 10px 0;
}

.play-again-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play-again-container button {
  padding: 10% 15%;
  background-color: red;
  box-sizing: border-box;
  color: white;
  font-weight: 700;
}
